<div class="grid-x">
  <div class="cell large-12">
    <h3>Информация о книге</h3>

    <p>Название: <%= @book.title %></p>
    <p>Автор: <%= @book.author %></p>
    <p>Дата публикации: <%= @book.published_on %></p>
    <p>Оценка: <%= @book.mark %></p>
    <p>Тираж: <%= @book.circulation %> тыс. экземпляров</p>
    <p>Тип обложки: <%= @book.cover_type %></p>

    <a class="button" href="<%= path(@book, 'edit') %>">Редактировать</a>
    <a class="button warning" href="<%= path(@book, 'delete') %>">Удалить</a>
    <a class="button secondary" href="<%= books_path %>">Назад к списку книг</a>
  </div>
</div>
