<div class="grid-x">
  <div class="cell large-12">
    <h3>Информация о книге</h3>

    <p>Название: <%= @book.title %></p>
    <p>Автор: <%= @book.author %></p>
    <p>Дата публикации: <%= @book.published_on %></p>
    <p>Оценка: <%= @book.mark %></p>
    <p>Тираж: <%= @book.circulation %> тыс. экземпляров</p>

    <a class="button" href="/books/<%= @book.id %>/edit">Редактировать</a>
    <a class="button warning" href="/books/<%= @book.id %>/delete">Удалить</a>
    <a class="button secondary" href="/books">Назад к списку книг</a>
  </div>
</div>
